html {
    scroll-behavior: smooth;
}

#img1 {
    width:  max-content;
    height: 600px;
 }
 #img2 {
    width:  max-content;
    height: 600px;
 }
 #img3 {
    width:  max-content;
    height: 600px;
 }
 #map {
    width: 1250px;
    height: 700px;
 }
 .card{
 background-color: rgb(38, 116, 189);
 border: none;
 }
 .card2{
    background-color:  rgb(202, 59, 59);
 }
 .card-title{
    text-align: center;
    text-emphasis: bold;
 }
 .card-text{
    text-align: center;
 }
 .poli-img{
    height: 150px;
    width:250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }
